.navbar .nav> li > a.brand {
    padding-left: 20px;
    margin-left: 0;
}

.content {
    margin-top: 50px;
    width: 100%;
}

footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   background:#ddd;
   -webkit-box-shadow: 0 8px 6px 6px black;
     -moz-box-shadow: 0 8px 6px 6px black;
          box-shadow: 0 8px 6px 6px black;
}
footer p{
     padding: 5px 0 12px 10px;
}

#wrapper {
  display:block;
  width:1024px;
  margin:auto;
}

.twoColumns {
  width:450px;
  height:450px;
  overflow:auto;
  margin:30px; 
  float:left;
}

.userContributions {
  width:650px;
  height:450px;
  overflow:auto;
  margin:10px; 
}

.centeredText {
  text-align: center;
}