<div ng-controller="MasterViewController" ng-init="findAll()">
    

    <div ng-repeat="user in userContributions" class="userContributions">
      <h3>{{user.user.name}}</h3>
      <table class="table table-striped">
        <th>Title</th>
        <th>Complete</th>
        <th ng-click="changeSorting('date', user.user, $index)">Date Created</th>
        <th ng-click="changeSorting('score', user.user, $index)">Score</th>
        <th ng-show="user.user.email != global.currentUser().email">Rate Task</th>

        <tr ng-repeat="contribution in user.contributions">
          <td><a href="#!/contributions/{{ contribution._id }}">{{contribution.title}}</a></td>
          <td>{{ valueToText(contribution.complete, "completeds") }}</td>
          <td>{{ contribution.created_on.split("T")[0]}}</td>
          <td>{{ contribution.score.toFixed(2) }}</td>
          <td ng-show="user.user.email != global.currentUser().email">
           <div ng-hide="contribution.rating['read_only']" ng-init="x = 5" ng-click="saveRating(contribution, x, $parent.$index, $index)"><rating value="x" max="10"></rating> <b>({{x}})</b></div>

           <div ng-show="contribution.rating['read_only']" ng-init="contribution.rating['read_only_score']"><rating readonly="true" value="contribution.rating['read_only_score']" max="10"></rating> <b>({{contribution.rating['read_only_score']}})</b></div>
         </td>
        </tr>
      </table>
    </div>
  <br>
</div>